<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>The History Explorer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6KJ4DGRVGE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6KJ4DGRVGE');
  </script>
</head>
<body>
  <header>
    <h1>The History Explorer</h1>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; {{ current_year }} Frederick. All rights reserved.</p>
  </footer>
</body>
</html>